h1 {

}

p {

}

iframe {
     width: 100%;
}

.text-column {
    max-width: 740px;
    width: 66%;
    margin: auto;
}

.data-column {
    width: 85%;
    margin: auto;
}

.logo-container {
    display: block;
    width: 10%;
    margin: 64px auto;
}

img {
    display: block;
    margin: auto;
    width: 80px;
}

.coffee {
    color: #A0522D;
}

.wine {
    color: #8B008B;
}

svg {
    stroke: #A0522D;
}

svg:hover {
    stroke: #8B008B;
}
